table {
	margin:auto;
	padding-top:40px;
	border-collapse:collapse;
}
td {
	border: 1px solid black;
}
.link p {
	font-size:0.8em;
	float:left;
}
#forum_creator{
	padding-right:7em;
}
#plus {
	float:right;
	font-size:1em;
	padding-right:1em;
	border:1px solid black;
	border-radius:5px;
	text-indent:1em;
	background-color:rgba(0,0,0,0);
	transition: background-color 0.2s;
}
#plus:hover {
	background-color:rgba(0,200,0,0.9);
}
table .link{
	float:left;
}